#service{
    background: url(../../assets/bannerbg.png);
    padding: 120px 0 50px  0 !important;
}
.p1 h2{
    font-size: 40px;
    color: #000;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif !important;
    padding-bottom: 10px;
}
.p1 p{
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif !important;
    padding-bottom: 20px;
    line-height: 30px;
}
.sr-btn a{
    color: #000;
    font-size: 20px;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 2px solid navy;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.sr-btn a:hover{
    background-color: navy;
    color: #fff !important;
}
.card{
    margin-bottom: 30px;
    border: 2px solid white !important;
    background-color: #4f5458 !important;
    box-shadow: 5px 5px black;
    padding: 25px 20px !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.card:hover{
    margin-top: 10px;
}
.card img{
    height: 50px;
    width: 50px;
    padding-bottom: 10px;
}
.card h4{
    color: white;
    width: 45% !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 15px;
}
.card p{
    color: #fff;
    font-family: "Poppins", sans-serif !important;
}
.card a{
    color: yellow;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Poppins", sans-serif !important;
}
.brdr{
    height: 1px !important;
    width: 100%;
    background-color: #fff;
    margin-top: 80px;
}



@media(max-width:575px){
    .p1 h2 {
        font-size: 30px;
    }
    .p1 p {
        font-size: 14px;
        line-height: 25px;
    }
    .sr-btn{
        padding-bottom: 50px;
    }
}