#resume{
    background: url(../../assets/bannerbg.png);
    padding-bottom: 100px;
    padding-top: 50px;
}
.header h3{
    text-align: center;
    font-size: 40px;
    color: #000;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    margin: 30px 0 100px 0;
    
}
.icn{
    color: white !important;
    font-size: 30px !important;
    height: 50px !important;
    width: 50px !important;
    background-color: navy !important;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bio h3{
    color: #000;
    width: 45% !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 18px;
    text-transform: capitalize;
    padding: 15px 0 10px 0;
}
.bio p{
    color: #000;
    font-family: "Poppins", sans-serif !important;
    font-size: 16px !important;
}
.bio a{
    color: navy;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Poppins", sans-serif !important;
}
.btm{
    height: 2px;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 20px;
}
.rsm-img{
    height: 450px;
    width: 350px;
    margin-top: 50px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 10px solid navy;
}
.rsm-img img{
    width: 100%;
    height: 430px;
    margin-top: 0px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.rsm-btn{
    text-align: center;
    margin-top: 50px;
}
.rsm-btn a{
    padding: 20px 35px;
    background-color: navy;
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid navy;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.rsm-btn a:hover{
    color: #000 !important;
    background-color: #fff;
}
.tools h3{
    font-size: 30px;
    color: #000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    padding-top: 150px;
    padding-bottom: 50px;
}
.circle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.c1{
    background-color: aliceblue;
    border: 10px solid navy;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}
.c1 img{
    position: absolute;
    left: 28px;
    top: 25px;
}
.skill h4{
    font-size: 30px;
    color: #000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    padding-top: 150px;
    padding-bottom: 50px;
}
.html{
    display: flex;
    justify-content: space-between;
}
.left p{
    font-size: 20px;
    color:#000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
}
.right p{
    font-size: 20px;
    color:#000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    margin-left: -90px !important;
}
.line{
    height: 7px;
    width: 100%;
    background-color: red;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    margin: 5px 0;
}
.line::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 7px;
    width: 90%;
    background-color: navy;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.journey{
    margin-top: 150px;
}
.journey h4{
    font-size: 30px;
    color: #000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.journey p{
    font-size: 16px;
    color: #000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
}
.jr-btn{
    margin-top: 180px;
}
.jr-btn a{
    padding: 20px 30px;
    color: #000 !important;
    font-size: 20px;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid #000;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.jr-btn a:hover{
    background-color: navy;
    color: #fff !important;
}
.company{
    margin-top: 100px;
    border-right: 5px solid black;
}
.company-a{
    margin-bottom: 50px;
}
.company-a h4{
    font-size: 20px;
    color: #a4161a;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.company-a p{
    font-size: 16px;
    color: black;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
}
.wrk{
    margin-top: 100px;
}
.wrk-1{
    margin-bottom: 25px;  
}
.wrk-1 h3{
    font-size: 20px;
    color: red;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.wrk-1 p{
    font-size: 14px;
    color: black;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;  
}
.know{
    margin-top: 120px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 80px 100px 100px 100px !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.know-text h4{
    font-size: 30px;
    color: #000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    padding-bottom: 10px;
    text-align: center;
}
.know-text p{
    font-size: 16px;
    color:black;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.know-card{
    background-color: blanchedalmond;
    text-align: center;
    padding: 40px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.know-card p{
    font-size: 16px;
    color:grey;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
    text-align: center;
}
.know-card h4{
    font-size: 20px;
    color: #000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
}
.know-card h5{
    font-size: 16px;
    color: #000;
    font-family: "Poppins", sans-serif !important;
    text-transform: capitalize;
}


@media(max-width:575px){
    #resume{
        padding: 0 0 20px 0;
    }
    .header h3 {
        font-size: 25px;
        margin: 30px 0 50px 0;
    }
    .bio p {
        font-size: 13px !important;
    }
    .rsm-img {
        width: 100%;
        border: 0px solid navy;
    }
    .rsm-btn a {
        padding: 20px 25px;
        font-size: 15px;
    }
    .tools h3 {
        padding-top: 90px;
    }
    .c1 {
        height: 100px;
        width: 100px;
    }
    .c1 img {
        left: 16px;
        top: 18px;
    }
    .skill h4 {
        padding-top: 50px;
        padding-bottom: 40px;  
    }
    .journey {
        margin-top: 60px;
    }
    .journey h4 {
        font-size: 25px;
        padding-bottom: 10px;
    }
    .jr-btn {
        margin-top: 40px;
    }
    .wrk {
        margin-top: 10px;
    }
    .wrk-1 p {
        font-size: 13px;
    }
    .know {
        margin-top: 50px;
        padding: 60px 15px 60px 15px !important;    
    }
    .know-text h4 {
        font-size: 25px;
    }    
    .know-text p {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .know-card p{
        font-size: 12px;
    }

}